@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
.box{
    background-color: lightblue;
    color: grey;
  width : 350px;
  height:550px;
  padding:0px;
  border: 6px solid grey;
  border-radius: 20px;
  margin-left:auto;
  margin-right:auto;
}
html, body {
  height: 100%;
  width: 100%;
  color: grey;
  font-family: 'Roboto', serif; 
  font-size: 23px;
}

.button{
  width: 65px;
  padding: 20px;
  margin: 0 3px;
  border: 3px solid grey;
  border-radius: 9px;
  cursor: pointer;
  
}

.row{
  margin: 10px 0;
}
.row input{
  width: 289px;
  font-size: 25px;
    margin: 0;
    padding: 10px 01px;
    border: 3px solid grey;
    border-radius: 9px;
}
